apiVersion: apps/v1
kind: Deployment
metadata:
  name: warehouse
spec:
  replicas: 2
  selector:
    matchLabels:
      app: warehouse
  template:
    metadata:
      labels:
        app: warehouse
    spec:
      containers:
        - name: warehouse
          image: warehouse:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082